.tabel-div{
    padding: 10px;

}
.responsive-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 28, 211, 0.682);
    padding:10px ;
    border-radius: 3px;
    margin-bottom: 10px;
}
.responsive-card{
    display: flex;
    align-items: center;
    color: white;

   
}
.responsive-h{
    font-size: 15px;
    font-weight: 500;
}

.responsive-icon{
    height: 18px;
    padding-right: 7px;

}

.dismiss-btn{
    background-color: white;
    border: none;
    outline: none;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
}

.tabrl-clint-card{
    display: flex;
    align-items: center;
}
.tabel-clint-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border: 1px solid rgba(187, 187, 187, 0.538);
}
.pep-icon{
    margin-right: 5px;
    height: 12px;
}
.tabel-clint-h{
    font-size: 12px;
    font-weight: 500;
}


.tadel-headings-div{
    display: flex;
    align-items: center;
   
}

.name-h{
    font-size: 14px;
    font-weight: 600;
    width:16%;
    padding-left: 35px;
   
}
.company-h{
    font-size: 14px;
    font-weight: 600;
    width:19%;
}

.city-h{
    font-size: 14px;
    font-weight: 600;
    width:19%;
}
.progress-h{
    font-size: 14px;
    font-weight: 600;
    width:22%;
}
.created-h{
    font-size: 14px;
    font-weight: 600;
    width:24%;
}

ul{
    padding: 0px;
   
    margin-top: 0px;
}
li{
    list-style-type: none;
    border: 1px solid rgba(187, 187, 187, 0.538);
   
}

.name-data{
    font-weight: 400;
    font-size: 11px;
    width:18%;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 10px;

}
.compant-data{
    font-size: 11px;
    font-weight: 400;
    width:18%;
}
.city-data{
    font-size: 11px;
    font-weight: 400;
    width:19%;
}
.progress-data{
    font-size: 11px;
    font-weight: 400;
    width:21%;
    
}
.date-data{
    font-size: 11px;
    font-weight: 400;
    width:23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spam-name-icon{
    background-color:rgba(29, 33, 253, 0.734);
    margin: 0px;
    font-weight: 500;
    font-size: 12px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color:white;
    margin-right: 5px; 
}
.created-icons-div{
    display: flex;
    align-items: center;
}
.cr-icon{
    height: 20px;
    width: 20px;
   border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    color: white;
   
}

.limit-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.lim-card{
    display: flex;
    align-items: center;
}
.lim-h{
    font-size: 14px;
    font-weight: 400;
    border: 1px solid gray;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 0px 5px;
}
.lim-page{
    font-size: 14px;
    font-weight: 400;
    margin: 0px ;
}